<!-- INCLUDE overall_header.html -->

<h1>{LOGIN_EXPLAIN}</h1>

<!-- IF LOGIN_ERROR -->
<div class="errorbox">
	<h3>{L_WARNING}</h3>
	<p>{LOGIN_ERROR}</p>
</div>
<!-- ENDIF -->

<form action="{U_STK_LOGIN_ACTION}" method="post" id="login">
	<fieldset>
		<legend>{L_LOGIN}</legend>
		<dl>
			<dt><label for="{USERNAME_CREDENTIAL}">{L_USERNAME}:</label></dt>
			<dd><input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
		</dl>
		<dl>
			<dt><label for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}:</label></dt>
			<dd><input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" /></dd>
		</dl>

		<p class="submit-buttons">
			<input type="submit" name="login" tabindex="3" value="{L_LOGIN}" class="button1" />
		</p>
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->