<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-language" content="{S_USER_LANG}" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="resource-type" content="document" />
		<meta name="distribution" content="global" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9" />
		{META}

		<title>{L_SUPPORT_TOOLKIT} :: {SITENAME} :: {PAGE_TITLE}</title>

		<link href="style/theme/supporttoolkit.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body class="{S_CONTENT_DIRECTION}">
		<div id="wrap">
			<div id="page-body">
				<div id="stk">
					<div class="panel">
						<span class="corners-top"><span></span></span>
							<div id="content">
								<div id="main">